/chapter1.exe
/chapter1.o

/chapter2.exe
/chapter2.o

/chapter3.exe
/chapter3.o

/chapter15.exe
/chapter15.o

/chapter14.exe
/chapter14.o

/chapter13.exe
/chapter13.o

/ruff.exe
/ruff.o

/AssiutUniversityProblems.exe
/AssiutUniversityProblems.o